@import "./sass/reset", "./sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "Delicious Handrawn", cursive;
  background-color: $backgroundColor;
}

p {
  font-family: "Pacifico", cursive;
}
